<div class="card card-sm <%= cookies[:theme] %>">
  <div class="card-body <%= cookies[:theme] %>">
    <h5 class="card-title <%= cookies[:theme] %>">Edit the Item</h5>


<%= form_with(model: [@collection, @item], local: true) do |form| %>
    <% Rails.logger.debug "Collection: #{@collection.inspect}" %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  
  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
  
   <div class="col-md-6">
    <%= form.label :tags, t(:tags), class: "form-label" %>
    <%= form.text_field :tags, class: "form-control", placeholder: t("enter_tags_separated_by_commas") %>
  </div>
  
  <div class="mb-3">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>
  
  <% @item.custom_field.each_pair.zip(@field_key).each do |(key, value), v| %>
  <div class="field">
    <%= form.label key, class: 'form-label' %>
    <% case v %>
      <% when 'text' %>
        <%= form.text_field key,name:"item[custom_fields][#{key}]", value: value, class: "form-control" %>
      <% when 'number' %>
        <%= form.number_field key, name:"item[custom_fields][#{key}]", value: value, class: "form-control" %>
      <% when 'date' %>
        <%= form.date_field key, name:"item[custom_fields][#{key}]", value: value, class: "form-control" %>
      <% when 'boolean' %>
        <%= form.check_box key, name:"item[custom_fields][#{key}]", value: "1", checked: value == 'true', class: "form-check-input" %>
      <% when 'paragraph' %>
        <%= form.text_area key, name:"item[custom_fields][#{key}]", value: value, class: "form-control" %>
    <% end %>
  </div>
  <% end %>

  <div class="mb-3">
    <%= form.submit "Save Item", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
</div>