<style>
  /* CSS for hover effect */
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
    transform: translateY(-5px); /* Move the card slightly up */
  }
  .tag-link {
  color: #007bff; /* Bootstrap primary color */
  text-decoration: none;
  }

  .tag-link:hover {
  text-decoration: underline;
  }
</style>
 
  <div class="container">
    <h1><%= @user.name %>'s Items</h1>

<body class="<%= cookies[:theme] %>">
  <h3><%= t('collections') %></h3>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% current_user.collections.each do |collection| %>
      <div class="col">
        <a href="<%= collection_path(collection) %>" class="text-decoration-none">
          <div class="card h-100 <%= cookies[:theme] %>">
            <div class="card-body <%= cookies[:theme] %>">
              <h5 class="card-title <%= cookies[:theme] %>"><%= collection.name %></h5>
              <p class="card-text <%= cookies[:theme] %>"><%= t('description') %>: <%= collection.description %></p>
              <p class="card-text <%= cookies[:theme] %>"><%= t('category') %>: <%= collection.category %></p>
            </div>
          </a>
          <div class="card-footer d-flex justify-content-end <%= cookies[:theme] %>">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Action
              </button>
              <ul class="dropdown-menu <%= cookies[:theme] %>" aria-labelledby="dropdownMenuButton">
                <li><a class="btn" href="<%= edit_collection_path(collection) %>">Edit</a></li>
                <li>
                   <%= button_to t("delete"), collection_path(collection), method: :delete, data: { confirm: 'Are you sure you want to delete this item?' }, class: 'btn' %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</body>


  
<body class="<%= cookies[:theme] %>">
<h3><%= t('items') %></h3>
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <% @items.each do |item| %>
    <div class="col">
      <div class="card h-100 <%= cookies[:theme] %>">
        <a href="<%= item_path(item) %>" class="text-decoration-none">
          <div class="card-body <%= cookies[:theme] %>">
            <h5 class="card-title <%= cookies[:theme] %>"><%= item.name %></h5>
            <p class="card-text <%= cookies[:theme] %>"><%= t('category') %>: <%= item.category %></p>
            <p class="card-text <%= cookies[:theme] %>"><%= t('description') %>: <%= item.description %></p>
            <p class="card-text <%= cookies[:theme] %>">
              <%= t('tags') %>:
              <%= item.tags.map { |tag| link_to(tag, search_items_path(query: tag), class: 'tag-link') }.join(', ').html_safe %>
            </p>
            <% item.custom_field.each do |field_key,field_name| %>
            <p class="card-text <%= cookies[:theme] %>"><%= field_key %>: <%= field_name %></p>
            <% end %>
          </div>
        </a>
        <div class="card-footer d-flex justify-content-end <%= cookies[:theme] %>">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              Action
            </button>
            <ul class="dropdown-menu <%= cookies[:theme] %>" aria-labelledby="dropdownMenuButton">
              <li><a class="btn" href="<%= edit_collection_item_path(item.collection, item) %>">Edit</a></li>
              <li>
                <%= button_to t("delete"), collection_item_path(item.collection, item), method: :delete, data: { confirm: 'Are you sure you want to delete this item?' }, class: 'btn' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</body>
</div>
