<%= form_with(model: @item, url: collection_item_index_path(@collection), local: true, html: { class: "row g-3" }) do |form| %>

  <div class="col-md-6">
    <%= form.label t(:name), class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="col-md-7">
    <%= form.label t(:category), class: "form-label" %>
    <%= form.text_field :category, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= form.label t(:description), class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= form.label :tags, t(:tags), class: "form-label" %>
    <%= form.text_field :tags, class: "form-control", placeholder: t("enter_tags_separated_by_commas") %>
  </div>
  <div class="col-md-6">
    <%= form.label :collection_id, t(:collection), class: "form-label" %>
    <%= form.collection_select :collection_id, Collection.all, :id, :name, prompt: t("select_collection") %>
  </div>
  <div>

   <% @item.custom_field.each_pair.zip(@field_key).each do |(key, value), v| %>
  <div class="field">
    <%= form.label key, class: 'form-label' %>
    <% case v %>
      <% when 'text' %>
        <%= form.text_field key,name:"item[custom_fields][#{key}]", value: value, class: "form-control" %>
      <% when 'number' %>
        <%= form.number_field key, name:"item[custom_fields][#{key}]", value: value, class: "form-control" %>
      <% when 'date' %>
        <%= form.date_field key, name:"item[custom_fields][#{key}]", value: value, class: "form-control" %>
      <% when 'boolean' %>
        <%= form.check_box key, name:"item[custom_fields][#{key}]", value: "1", checked: value == 'true', class: "form-check-input" %>
      <% when 'paragraph' %>
        <%= form.text_area key, name:"item[custom_fields][#{key}]", value: value, class: "form-control" %>
    <% end %>
  </div>
  <% end %>

  <div class="col-12">
    <%= form.label t(:image), class: "form-label" %>
    <%= form.file_field :pic, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= form.submit t("create_item"), class: "btn btn-primary" %>
  </div>
<% end %>

