<%= form_with(model: @item, url: collection_item_index_path(@collection), local: true, html: { class: "row g-3" }) do |form| %>

  <div class="col-md-6">
    <%= form.label t(:name), class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="col-md-7">
    <%= form.label t(:category), class: "form-label" %>
    <%= form.text_field :category, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= form.label t(:description), class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= form.label :tags, t(:tags), class: "form-label" %>
    <%= form.text_field :tags, class: "form-control", placeholder: t("enter_tags_separated_by_commas") %>
  </div>
  <div class="col-md-6">
    <%= form.label :collection_id, t(:collection), class: "form-label" %>
    <%= form.collection_select :collection_id, Collection.all, :id, :name, prompt: t("select_collection") %>
  </div>
  <div>
  <div>
    <% @collection.custom_fields.each do |field_key, field_name| %>
      <div class="mb-3">
        <%= form.label field_key, field_name, class: "form-label" %>
        <%= form.text_field field_key, class: "form-control", name: "item[custom_fields][#{field_key}]" %>
      </div>
    <% end %>
  </div>
  </div>
  <div class="col-12">
    <%= form.label t(:image), class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>
  <div class="col-12">
    <%= form.submit t("create_item"), class: "btn btn-primary" %>
  </div>
<% end %>

