<div class="container">
  <h1><%= t("item.name", default: @item.name) %></h1>
  <h3><%= t("item.category", default: "Category") %>: <%= @item.category %></h3>
  <p><%= t("item.description", default: "Description") %>: <%= @item.description %></p>
  <%=  @item.image %>
</div>
<div>
<div>
    <%= button_to 'Unlike', item_like_path(@item), method: :delete, class: 'btn btn-danger' %>
    <%= button_to 'Like', item_like_path(@item), class: 'btn btn-primary' %>
</div>
</div>
<p>
  <strong>Likes:</strong> <%= @item.likes.count %>
</p>
<%= form_with(model: [@item, Comment.new]) do |form| %>
    <div class="mb-3">
      <%= form.label :content, class: "form-label" %>
      <%= form.text_area :content, class: "form-control", rows: 3 %>
    </div>
    <%= form.submit t("post_comment"), class: "btn btn-primary" %>
  <% end %>
</div>

<body class="<%= cookies[:theme] %>">
<% @item.comments.each do |comment| %>
    <div class="card <%= cookies[:theme] %>">
      <div class="card-body <%= cookies[:theme] %>">
        <p class="card-text <%= cookies[:theme] %>"><strong><%= comment.user.name %>:</strong> <%= comment.content %></p>
      </div>
    </div>
<% end %>
</body>

