<% if user_signed_in? %>
  <h1><%= t("welcome_home", username: current_user.name) %></h1>
<% else %>
  <h1><%= t("Home") %></h1>
<% end %>

<div class="container">
  <% @categories.each_slice(3) do |category_slice| %>
    <div class="row">
      <% category_slice.each do |category| %>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= category %></h5>
              <p class="card-text"><%= t("items_in") %> <%= category %></p>
              <%= link_to t("view_items"), items_by_category_path(category), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
