<% if current_user.admin? %>
<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>
            <%= check_box_tag :select_all, nil, false, id: 'select-all-checkbox' %>
          </th>
          <th><%= t('name') %></th>
          <th><%= t('email') %></th>
          <th><%= t('role') %></th>
          <th><%= t('status') %></th>
          <th><%= t('action') %></th>
        </tr>
      </thead>
      <tbody>
        <% @user.each do |user| %>
          <tr>
            <td>
              <%= check_box_tag 'selected_user_ids[]', user.id, false, class: 'user-checkbox' %>
            </td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.admin ? t('admin') :  t('user') %></td>
            <td><%= user.status ? t('active') : t('blocked') %></td>
            <td>
              <%= button_to t('block'), block_user_path(user), method: :put, class: 'btn btn-danger' if user.status %>
              <%= button_to t('unblock'), unblock_user_path(user), method: :put, class: 'btn btn-success' unless user.status %>
              <%= button_to t('add_admin'), add_admin_user_path(user), method: :put, class: 'btn btn-primary' unless user.admin %>
              <%= button_to t('remove_admin'), remove_admin_user_path(user), method: :put, class: 'btn btn-warning' if user.admin %>
              <%= button_to t('delete'), delete_user_path(user), method: :delete, class: 'btn btn-danger' %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
  <p>You are not authorized to access this page.</p>
<% end %>
