<% if current_user.admin? %>
  <div class="card <%= cookies[:theme] %>">
    <div class="card-header <%= cookies[:theme] %> d-flex justify-content-between align-items-center">
      <%= check_box_tag :select_all, nil, false, id: 'select-all-checkbox' %>
      <span>All</span>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table <%= cookies[:theme] == 'dark' ? 'table-dark' : '' %> table-borderless table-hover mb-0">
          <thead class="thead-light <%= cookies[:theme] %>">
            <tr>
              <th scope="col">
                <%= check_box_tag :select_all, nil, false, id: 'select-all-checkbox' %>
              </th>
              <th scope="col"><%= t('name') %></th>
              <th scope="col"><%= t('email') %></th>
              <th scope="col"><%= t('role') %></th>
              <th scope="col"><%= t('status') %></th>
              <th scope="col"><%= t('action') %></th>
            </tr>
          </thead>
          <tbody class="<%= cookies[:theme] %>">
            <% @user.each do |user| %>
              <tr class="<%= cookies[:theme] %>">
                <td>
                  <%= check_box_tag 'selected_user_ids[]', user.id, false, class: 'user-checkbox' %>
                </td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.admin ? t('admin') : t('user') %></td>
                <td><%= user.status ? t('active') : t('blocked') %></td>
                <td class="d-flex">
                  <%= button_to t('block'), block_user_path(user), method: :put, class: "btn btn-sm btn-danger me-2" if user.status %>
                  <%= button_to t('unblock'), unblock_user_path(user), method: :put, class: "btn btn-sm btn-success me-2" unless user.status %>
                  <%= button_to t('add_admin'), add_admin_user_path(user), method: :put, class: "btn btn-sm btn-primary me-2" unless user.admin %>
                  <%= button_to t('remove_admin'), remove_admin_user_path(user), method: :put, class: "btn btn-sm btn-warning me-2" if user.admin %>
                  <%= button_to t('delete'), delete_user_path(user), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <div class="alert alert-danger" role="alert">
    You are not authorized to access this page.
  </div>
<% end %>
