<div class="card card-sm <%= cookies[:theme] %>">
  <div class="card-body <%= cookies[:theme] %>">
    <h5 class="card-title <%= cookies[:theme] %>">Edit the Collection</h5>
<%= form_with(model: @collection, url: collection_path(@collection), method: :put, local: true, html: { class: "row g-3" }) do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :category, class: "form-label" %>
    <%= form.text_field :category, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <h3>Custom Fields</h3>
  <div class="custom-fields">
    <% @collection.custom_fields.each_with_index do |field, i| %>
      <div class="field mb-3">
        <div class="form-group">
          <%= form.label "field_name_#{i + 1}", "Field Name #{i + 1}", class: 'form-label' %>
          <%= form.text_field "field_name_#{i + 1}", name: "collection[custom_fields][field_name_#{i + 1}]", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label "field_type_#{i + 1}", "Field Type", class: 'form-label' %>
          <%= form.select "field_type_#{i + 1}", options_for_select([['Text', 'text'], ['Number', 'number'], ['Date', 'date'], ['Boolean', 'boolean'], ['Paragraph', 'paragraph']]), { include_blank: 'Select Type' }, name: "collection[custom_field_types][field_type_#{i + 1}]", class: "form-control" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-center mb-3">
    <button type="button" class="btn btn-secondary" id="add-custom-field">+</button>
  </div>

  <div class="mb-3">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Update Collection", class: "btn btn-primary" %>
  </div>
<% end %>


<%= link_to 'Back', item_history_path, class: "btn btn-secondary" %>
</div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('add-custom-field').addEventListener('click', function() {
      const customFieldsContainer = document.querySelector('.custom-fields');
      const customFields = customFieldsContainer.querySelectorAll('.field');
      const lastCustomField = customFields[customFields.length - 1];
      const newCustomField = lastCustomField.cloneNode(true);

      // Increment field number in label and input name
      const newIndex = customFields.length + 1;

      // Update field name label and input
      const newNameLabel = newCustomField.querySelectorAll('label')[0];
      newNameLabel.textContent = "Field Name " + newIndex;
      newNameLabel.setAttribute('for', 'field_name_' + newIndex);

      const newNameInput = newCustomField.querySelector('input[type="text"]');
      newNameInput.name = "collection[custom_fields][field_name_" + newIndex + "]";
      newNameInput.id = "field_name_" + newIndex;
      newNameInput.value = '';

      // Update field type label and select
      const newTypeLabel = newCustomField.querySelectorAll('label')[1];
      newTypeLabel.setAttribute('for', 'field_type_' + newIndex);

      const newTypeSelect = newCustomField.querySelector('select');
      newTypeSelect.name = "collection[custom_field_types][field_type_" + newIndex + "]";
      newTypeSelect.id = "field_type_" + newIndex;
      newTypeSelect.value = '';

      customFieldsContainer.appendChild(newCustomField);
    });
  });
</script>
