<%= form_with(model: @collection, url: collection_index_path, local: true, html: { class: "row g-3" }) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
  <%= form.label :category, class: 'form-label' %>

  <%= form.text_field :category, id: 'category_text_field', class: 'form-control' %>


  <%= form.select :category, 
  options_for_select([['Books', 'Books'], ['Movies', 'Movies'], ['Music', 'Music']]), 
  { include_blank: 'Select Category' }, 
  { id: 'category_select_box', 
  class: 'form-control', style: 'display:none;' } %>
</div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class: "form-control" %>
  </div>


  
<h3>Custom Fields</h3>
<div class="custom-fields">
  <% 3.times do |i| %>
    <div class="field">
      <%= form.label "field_name_#{i + 1}", "Field Name #{i + 1}", class: 'form-label' %>
      <%= form.text_field "field_name_#{i + 1}", name: "collection[custom_fields][field_name_#{i + 1}]", class: "form-control" %>

      <%= form.label "field_type_#{i + 1}", "Field Type", class: 'form-label' %>
      <%= form.select "field_type_#{i + 1}", 
      options_for_select([['Text', 'text'], ['Number', 'number'], ['Date', 'date'], ['Boolean', 'boolean'], ['Paragraph', 'paragraph']]), 
      { include_blank: 'Select Type' }, 
      name: "collection[custom_field_types][field_type_#{i + 1}]", class: "form-control" %>
    </div>
  <% end %>
</div>

<button type="button" class="btn btn-secondary" id="add-custom-field">+</button>

  <div class="form-group">
    <%= form.submit "Save Collection", class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('add-custom-field').addEventListener('click', function() {
      const customFieldsContainer = document.querySelector('.custom-fields');
      const customFields = customFieldsContainer.querySelectorAll('.field');
      const lastCustomField = customFields[customFields.length - 1];
      const newCustomField = lastCustomField.cloneNode(true);

      // Increment field number in label and input name
      const newIndex = customFields.length + 1;
      newCustomField.querySelector('label').textContent = "Field Name " + newIndex;
      newCustomField.querySelector('label').setAttribute('for', 'field_name_' + newIndex);
      newCustomField.querySelector('input').name = "collection[custom_fields][field_name_" + newIndex + "]";
      newCustomField.querySelector('input').id = "field_name_" + newIndex;
      newCustomField.querySelector('input').value = '';

      const newKey = `field_type_${newIndex}`;

      newCustomField.querySelector('label').setAttribute('for', newKey);
      newCustomField.querySelector('select').name = `collection[custom_field_types][${newKey}]`;
      newCustomField.querySelector('select').id = newKey;
      newCustomField.querySelector('select').value = '';

      newCustomField.classList.remove('d-none');
      customFieldsContainer.appendChild(newCustomField);

      // Add an event listener to the text field to detect when it gains focus
    textField.addEventListener('focus', function() {
      textField.style.display = 'none';
      selectBox.style.display = 'block';
    });

    // Add an event listener to the select box to detect when a value is selected
    selectBox.addEventListener('change', function() {
      if (selectBox.value === '') {
        selectBox.style.display = 'none';
        textField.style.display = 'block';
      } else {
        textField.value = selectBox.value;
      }
    });
  });
</script>