<style>
  /* CSS for hover effect */
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
    transform: translateY(-5px); /* Move the card slightly up */
  }
</style>
    <div class="col">
      <%= link_to "New Item", new_collection_item_path(collection_id: @collection.id), class: "btn btn-outline-primary" %>
    </div>


<body class="<%= cookies[:theme] %>">
<h3><%= t('items') %></h3>
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <%  @items.each do |item| %>
    <div class="col">
      <div class="card h-100 <%= cookies[:theme] %>"><div class="card-header p-0 position-relative" style="height: 200px; overflow: hidden;">
            <%= link_to collection_item_path(item.collection,item), class: 'text-decoration-none' do %>
              <%= image_tag item.pic.present? ? url_for(item.pic) : 'placeholder.jpg', class: 'img-fluid w-100 h-100', style: 'object-fit: cover;' %>
            <% end %>
          </div>
        <a href="<%= item_path(item) %>" class="text-decoration-none">
          <div class="card-body <%= cookies[:theme] %>">
            <h5 class="card-title <%= cookies[:theme] %>"><%= item.name %></h5> 
            <p class="card-text <%= cookies[:theme] %>"><%= t('category') %>: <%= item.category %></p>
            <p class="card-text <%= cookies[:theme] %>"><%= t('description') %>: <%= item.description %></p>
            <p class="card-text <%= cookies[:theme] %>">
              <%= t('tags') %>:
              <%= item.tags.map { |tag| link_to(tag, search_items_path(query: tag), class: 'tag-link') }.join(', ').html_safe %>
            </p>
            <% item.custom_field.each do |field_key,field_name| %>
            <p class="card-text <%= cookies[:theme] %>"><%= field_key %>: <%= field_name %></p>
            <% end %>
          </div>
        </a>
        <div class="card-footer d-flex justify-content-end <%= cookies[:theme] %>">
          <% if current_user.admin? || current_user.id == item.collection.user_id  %>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Action
              </button>
              <ul class="dropdown-menu <%= cookies[:theme] %>" aria-labelledby="dropdownMenuButton">
                <li><a class="btn" href="<%= edit_collection_item_path(item.collection, item) %>">Edit</a></li>
                <li>
                  <%= button_to t("delete"), collection_item_path(item.collection, item), method: :delete, data: { confirm: 'Are you sure you want to delete this item?' }, class: 'btn' %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</body>
    
