<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Project", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to t("history"), item_history_path, class: "dropdown-item" %></li>
            <li><%= link_to "Another action", collection_new_path, class: "dropdown-item" %></li>

            <% if I18n.locale == :ru %>
              <%= link_to url_for(locale: :en), class: "btn btn-outline-dark" do %>
                English
              <% end %>
            <% else %>
              <%= link_to url_for(locale: :ru), class: "btn btn-outline-dark" do %>
                Русский
              <% end %>
            <% end %>

            <% if user_signed_in? && current_user.admin? %>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to t("user_manager"), user_manager_path, class: "dropdown-item" %></li>
              <li><%= link_to t("item_manager"), user_collection_item_manager_path, class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
      </ul>
<div>
  <%= form_with url: search_items_path, method: :get, local: true do %>
    <div class="input-group">
      <input class="form-control" type="search" name="query" placeholder="<%= t('search') %>" aria-label="<%= t('search') %>">
      <button class="btn btn-outline-success" type="submit"><%= t('search') %></button>
    </div>
  <% end %>
</div>
      <ul class="navbar-nav">
        <% if cookies[:theme] == 'light' %>
          <%= link_to 'dark', set_theme_path(theme: 'dark'), class: 'btn btn-primary' %>
        <% else %>
          <%= link_to 'light', set_theme_path(theme: 'light'), class: 'btn btn-outline-secondary' %>
        <% end %>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= button_to t("logout"), destroy_user_session_path, method: :delete, data: { turbo: false }, class: "btn btn-outline-danger" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to t("login"), new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t("register"), new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

